@import "~bootstrap/scss/bootstrap.scss";

.activo {
    visibility: visible !important;
}
.cruz {
    visibility: hidden;
}
.display-4{
    font-size: 30px;
    color: rgb(71, 71, 71);
}
.display-1{
    color: rgb(71, 71, 71);
}

p {
    margin : 0;
}
.btn{
    width: 40px;
    height: 40px;
}
.cajita1 {
    width: 98%;
}
.cajita2 {
    width: 96%;
}
body {
    background-color: rgb(238, 238, 238);
}
.blanco {
    background-color: white;
}