@import "~bootstrap/scss/bootstrap.scss";

.activo {
    visibility: visible !important;
}
.cruz {
    visibility: hidden;
}
.display-4{
    font-size: 30px;
    color: rgb(71, 71, 71);
}

p {
    margin : 0;
}
.btn{
    width: 160px;
}